.register {
    text-align: center;
      align-items: center;
      background-color:#fff;
      border: 2px solid white;
      width: 400px;
      padding: 1rem;
      border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .register > input{
      width: 92%;
      padding: 0.5rem 0.75rem;
      margin:0.5rem 0;
      color: black;
      border-radius: 8px;
      cursor: pointer;
      outline: none;
      border: 2px solid rgba(122, 109, 109, 0.24);
  }
  
  .register > .button{
      background-color: #318CE7;
      color: #fff;
      font-size: 1.25rem;
      border: 1px solid black;
      margin: 0.5rem 0;
      border-radius: 5px;
      padding: 0.5rem;
      cursor: pointer;
      outline: none;
  }


  .register > .button a{
    color: #fff !important;
  text-decoration: none;
  }